/*
 * Legal Disclaimer
 *
 * These Fonts are licensed only for use on these domains and their subdomains:
 * mis.rj.gov.br
 *
 * It is illegal to download or use them on other websites.
 *
 * While the @font-face statements below may be modified by the client, this
 * disclaimer may not be removed.
 *
 * Lineto.com, 2012
 */

@font-face {
  font-family: 'BrownRegular';
  src: url('/fonts/lineto-brown-regular.eot');
  src: url('/fonts/lineto-brown-regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/lineto-brown-regular.woff') format('woff'),
    url('/fonts/lineto-brown-regular.ttf') format('truetype'),
    url('/fonts/lineto-brown-regular.svg#BrownRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BrownRegularReclining';
  src: url('/fonts/lineto-brown-reclinregular.eot');
  src: url('/fonts/lineto-brown-reclinregular.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/lineto-brown-reclinregular.woff') format('woff'),
    url('/fonts/lineto-brown-reclinregular.ttf') format('truetype'),
    url('/fonts/lineto-brown-reclinregular.svg#BrownRegularReclining')
      format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BrownItalic';
  src: url('/fonts/lineto-brown-italic.eot');
  src: url('/fonts/lineto-brown-italic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/lineto-brown-italic.woff') format('woff'),
    url('/fonts/lineto-brown-italic.ttf') format('truetype'),
    url('/fonts/lineto-brown-italic.svg#BrownItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BrownBold';
  src: url('/fonts/lineto-brown-bold.eot');
  src: url('/fonts/lineto-brown-bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/lineto-brown-bold.woff') format('woff'),
    url('/fonts/lineto-brown-bold.ttf') format('truetype'),
    url('/fonts/lineto-brown-bold.svg#BrownBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BrownBoldReclining';
  src: url('/fonts/lineto-brown-reclinbold.eot');
  src: url('/fonts/lineto-brown-reclinbold.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/lineto-brown-reclinbold.woff') format('woff'),
    url('/fonts/lineto-brown-reclinbold.ttf') format('truetype'),
    url('/fonts/lineto-brown-reclinbold.svg#BrownBoldReclining') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BrownBoldItalic';
  src: url('/fonts/lineto-brown-bolditalic.eot');
  src: url('/fonts/lineto-brown-bolditalic.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/lineto-brown-bolditalic.woff') format('woff'),
    url('/fonts/lineto-brown-bolditalic.ttf') format('truetype'),
    url('/fonts/lineto-brown-bolditalic.svg#BrownBoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BrownLight';
  src: url('/fonts/lineto-brown-light.eot');
  src: url('/fonts/lineto-brown-light.eot?#iefix') format('embedded-opentype'),
    url('/fonts/lineto-brown-light.woff') format('woff'),
    url('/fonts/lineto-brown-light.ttf') format('truetype'),
    url('/fonts/lineto-brown-light.svg#BrownLight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BrownLightReclining';
  src: url('/fonts/lineto-brown-reclinlight.eot');
  src: url('/fonts/lineto-brown-reclinlight.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/lineto-brown-reclinlight.woff') format('woff'),
    url('/fonts/lineto-brown-reclinlight.ttf') format('truetype'),
    url('/fonts/lineto-brown-reclinlight.svg#BrownLightReclining') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BrownLightItalic';
  src: url('/fonts/lineto-brown-lightitalic.eot');
  src: url('/fonts/lineto-brown-lightitalic.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/lineto-brown-lightitalic.woff') format('woff'),
    url('/fonts/lineto-brown-lightitalic.ttf') format('truetype'),
    url('/fonts/lineto-brown-lightitalic.svg#BrownLightItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
